services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: academia_backend
    environment:
      JWT_SECRET: tu_clave_secreta_muy_segura_123
      DB_HOST: shinkansen.proxy.rlwy.net
      DB_USER: postgres
      DB_PASSWORD: QUioBOZGHSYNcahekFmkrnlzSdyePWLO
      DB_NAME: railway
      DB_PORT: 33101
      PORT: 4000
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - uploads_data:/app/uploads
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: academia_frontend
    environment:
      VITE_API_URL: http://localhost:4000
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  uploads_data: